.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    max-width: 1920px;
    margin: 0;
    padding: 0;
}
.up{
    background-color: #faf2e9;
}
.navbar{
    max-width: 1452;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 102px;
}
.navbar .a h1{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.navbar .b ul li{
    list-style: none;
    font-size: 18px;
    line-height: 26px;
    list-style: none;
}
.navbar .b ul li a{
    text-decoration: none;
    color: #131313;
}
.navbar .b ul{
    display: flex;
    justify-content: space-between;
    width: 460px;
}
#head .a{
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
}
#head .a h1{
    color: #131313;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 30px;
}
#head .a p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}
#head .a button{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #FF900E;
    padding: 21px 25px;
    cursor: pointer;
    margin-bottom: 42px;
}
#head .a button:hover{
    background-color: brown;
}
#head .b{
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: 45px;
    border-radius: 8px;
}
#head .b img{
    width: 100%;
}
#mid-container {
    max-width: 1320px;
    margin: 0 auto;
}
#mid-container .content{
    display: flex;
    margin-top: 85px;
    margin-bottom: 130px;
}
#mid-container .content .b{
    margin: auto;
    max-width: 538px;
}
#mid-container .content .b h1{
    font-size: 45px;
    margin-bottom: 32px;
}

#mid-container .content .b h1 .f{
    color: #727272;
}
#mid-container .content .b h1 .g{
    color: #FF900E;
}

#mid-container .content .b p{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}
#mid-container .content .b button{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #FF900E;
    padding: 21px 25px;
    cursor: pointer;
}
#mid-container .content .b button:hover{
    background-color: brown;
}

#mid-container .content .a{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-right: 73px;
}
#mid-container .content .a img{
    width: 100%;
}
#last-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 80px;
}
#last-container .b{
    width: 790px;
    height: 1060px;
}
#last-container .b .g img{
    width: 708px;
    height: 982px;
}
#last-container .a{
    max-width: 510px;
    margin-right: 55px;
    margin: 0 auto;
}
#last-container .a .c h1{
    font-size: 2.9rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
    margin-left: 21px;
    max-width: 468px;
}
#last-container .a .c p{
    max-width: 510px;
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 25px;
}
#last-container .a .d{
    padding: 35px 42px 25px 30px;
    box-shadow: 1px 1px 10px gray;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 20px;
}
#last-container .a .d h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
#last-container .a .d p{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
}

/* start */
#last-container .b .g {
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.experience-badge {
    position: absolute;
    background-color: #FF900E;
    color: white;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    bottom: -50px;
    left: -50px;
}
.experience-badge h2 {
    font-size: 3rem;
    margin: 0;
}
.experience-badge p {
    font-size: 1.25rem;
    margin: 0;
}
/* last */

#lasi-mid{
    max-width: 1440px;
    margin: 0 auto;
}
#lasi-mid .k{
    margin-left: 62px;
}
#lasi-mid .k h1{
    font-size: 2.9rem;
    font-weight: bold;
    margin-bottom: 24px;
}
#lasi-mid .k p{
    font-size: 1rem;
    line-height: 26px;
    width: 543px;
}
#last{
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 180px;
}
#last .a{
    padding: 46px 36px 60px 36px;
    text-align: center;
    border: 2px solid #FF900E;
}
#last .a h2{
    font-size: 2.9rem;
    margin-bottom: 5px;
    margin-top: 10px;
}
#last .a p{
    color: #727272;
    font-weight: 600;
    font-size: 1.25rem;
}
#small{
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
#small h1{
    color: #131313;
    font-size: 2.9rem;
    font-weight: bold;
    margin-bottom: 24px;
}
#small p{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
}
#gg{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 130px;
}
#gg .p{
    display: flex;
    justify-content: space-between;
}
footer{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 216px;
}
footer p{
    font-size: 1.25rem;
    color: #424242;
    background-color: #FFF4E7;
    border-radius: 8px;
    padding: 39px 390px;
}